<nav aria-label="Menú principal" id="main-menu">
  <ul class="menu">
    <li class="menu-item-has-children">
      <button type="button" aria-expanded="false" aria-controls="submenu-ourense" aria-haspopup="true">
        Ourense
        <span class="dropdown-icon" aria-hidden="true">▼</span>
      </button>
      <ul id="submenu-ourense" class="submenu" hidden>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-ourense-alojamiento" aria-haspopup="true">Alojamiento <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-ourense-alojamiento" class="submenu-2" hidden>
            <li><a href="#ourense-hotel">Hotel</a></li>
            <li><a href="#ourense-pension">Pensión</a></li>
            <li><a href="#ourense-apartamento">Apartamento turístico</a></li>
            <li><a href="#ourense-albergue">Albergue</a></li>
            <li><a href="#ourense-camping">Camping</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-ourense-restaurantes" aria-haspopup="true">Restaurantes y bares <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-ourense-restaurantes" class="submenu-2" hidden>
            <li><a href="provincias/ourense/restaurantes/ourense-lagarza-restaurante.html">Restaurantes tradicionales</a></li>
            <li><a href="#ourense-rest-internacionales">Restaurantes internacionales</a></li>
            <li><a href="#ourense-rest-gourmet">Restaurantes gourmet</a></li>
            <li><a href="#ourense-rest-rapida">Restaurantes comida rápida</a></li>
            <li><a href="#ourense-rest-buffet">Restaurantes buffet</a></li>
            <li><a href="#ourense-rest-bares">Bares</a></li>
            <li><a href="#ourense-rest-cafeterias">Cafeterías</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-ourense-transporte" aria-haspopup="true">Transporte <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-ourense-transporte" class="submenu-2" hidden>
            <li><a href="#ourense-tren">Trenes</a></li>
            <li><a href="#ourense-avion">Avión</a></li>
            <li><a href="#ourense-taxi">Taxi y Uber</a></li>
            <li><a href="#ourense-alquiler">Alquiler de coches adaptados</a></li>
            <li class="submenu3-item-has-children">
              <button type="button" aria-expanded="false" aria-controls="sub3-ourense-autobus" aria-haspopup="true">Autobús <span class="dropdown-icon-sub" aria-hidden="true">&#9660;</span></button>
              <ul id="sub3-ourense-autobus" class="submenu-3" hidden>
                <li><a href="#ourense-autobus-urbano">Urbano</a></li>
                <li><a href="#ourense-autobus-interurbano">Interurbano</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#ourense-que-visitar">Qué visitar</a></li>
        <li><a href="#ourense-que-hacer">Qué hacer</a></li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-ourense-otros" aria-haspopup="true">Otros <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-ourense-otros" class="submenu-2" hidden>
            <li><a href="#ourense-medicos">Servicios médicos</a></li>
            <li><a href="#ourense-turismo">Oficinas de turismo</a></li>
            <li><a href="#ourense-descuentos">Descuentos en español</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <button type="button" aria-expanded="false" aria-controls="submenu-pontevedra" aria-haspopup="true">
        Pontevedra
        <span class="dropdown-icon" aria-hidden="true">▼</span>
      </button>
      <ul id="submenu-pontevedra" class="submenu" hidden>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-pontevedra-alojamiento" aria-haspopup="true">Alojamiento <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-pontevedra-alojamiento" class="submenu-2" hidden>
            <li><a href="provincias/pontevedra/alojamiento/pontevedra-hotel-exe-vigo.html">Hotel</a></li>
            <li><a href="#pontevedra-pension">Pensión</a></li>
            <li><a href="#pontevedra-apartamento">Apartamento turístico</a></li>
            <li><a href="#pontevedra-albergue">Albergue</a></li>
            <li><a href="#pontevedra-camping">Camping</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-pontevedra-restaurantes" aria-haspopup="true">Restaurantes y bares <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-pontevedra-restaurantes" class="submenu-2" hidden>
            <li><a href="#pontevedra-rest-tradicionales">Restaurantes tradicionales</a></li>
            <li><a href="#pontevedra-rest-internacionales">Restaurantes internacionales</a></li>
            <li><a href="#pontevedra-rest-gourmet">Restaurantes gourmet</a></li>
            <li><a href="#pontevedra-rest-rapida">Restaurantes comida rápida</a></li>
            <li><a href="#pontevedra-rest-buffet">Restaurantes buffet</a></li>
            <li><a href="#pontevedra-rest-bares">Bares</a></li>
            <li><a href="#pontevedra-rest-cafeterias">Cafeterías</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-pontevedra-transporte" aria-haspopup="true">Transporte <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-pontevedra-transporte" class="submenu-2" hidden>
            <li><a href="#pontevedra-tren">Trenes</a></li>
            <li><a href="#pontevedra-avion">Avión</a></li>
            <li><a href="#pontevedra-taxi">Taxi y Uber</a></li>
            <li><a href="#pontevedra-alquiler">Alquiler de coches adaptados</a></li>
            <li class="submenu3-item-has-children">
              <button type="button" aria-expanded="false" aria-controls="sub3-pontevedra-autobus" aria-haspopup="true">Autobús <span class="dropdown-icon-sub" aria-hidden="true">&#9660;</span></button>
              <ul id="sub3-pontevedra-autobus" class="submenu-3" hidden>
                <li><a href="#pontevedra-autobus-urbano">Urbano</a></li>
                <li><a href="#pontevedra-autobus-interurbano">Interurbano</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#pontevedra-que-visitar">Qué visitar</a></li>
        <li><a href="#pontevedra-que-hacer">Qué hacer</a></li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-pontevedra-otros" aria-haspopup="true">Otros <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-pontevedra-otros" class="submenu-2" hidden>
            <li><a href="#pontevedra-medicos">Servicios médicos</a></li>
            <li><a href="#pontevedra-turismo">Oficinas de turismo</a></li>
            <li><a href="#pontevedra-descuentos">Descuentos en español</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <button type="button" aria-expanded="false" aria-controls="submenu-coruna" aria-haspopup="true">
        A Coruña
        <span class="dropdown-icon" aria-hidden="true">▼</span>
      </button>
      <ul id="submenu-coruna" class="submenu" hidden>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-coruna-alojamiento" aria-haspopup="true">Alojamiento <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-coruna-alojamiento" class="submenu-2" hidden>
            <li><a href="#coruna-hotel">Hotel</a></li>
            <li><a href="#coruna-pension">Pensión</a></li>
            <li><a href="#coruna-apartamento">Apartamento turístico</a></li>
            <li><a href="#coruna-albergue">Albergue</a></li>
            <li><a href="#coruna-camping">Camping</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-coruna-restaurantes" aria-haspopup="true">Restaurantes y bares <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-coruna-restaurantes" class="submenu-2" hidden>
            <li><a href="#coruna-rest-tradicionales">Restaurantes tradicionales</a></li>
            <li><a href="#coruna-rest-internacionales">Restaurantes internacionales</a></li>
            <li><a href="#coruna-rest-gourmet">Restaurantes gourmet</a></li>
            <li><a href="#coruna-rest-rapida">Restaurantes comida rápida</a></li>
            <li><a href="#coruna-rest-buffet">Restaurantes buffet</a></li>
            <li><a href="#coruna-rest-bares">Bares</a></li>
            <li><a href="#coruna-rest-cafeterias">Cafeterías</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-coruna-transporte" aria-haspopup="true">Transporte <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-coruna-transporte" class="submenu-2" hidden>
            <li><a href="#coruna-tren">Trenes</a></li>
            <li><a href="#coruna-avion">Avión</a></li>
            <li><a href="#coruna-taxi">Taxi y Uber</a></li>
            <li><a href="#coruna-alquiler">Alquiler de coches adaptados</a></li>
            <li class="submenu3-item-has-children">
              <button type="button" aria-expanded="false" aria-controls="sub3-coruna-autobus" aria-haspopup="true">Autobús <span class="dropdown-icon-sub" aria-hidden="true">&#9660;</span></button>
              <ul id="sub3-coruna-autobus" class="submenu-3" hidden>
                <li><a href="provincias/coruña/transportes/acoruna-autobuses-urbanos.html">Urbano</a></li>
                <li><a href="#coruna-autobus-interurbano">Interurbano</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#coruna-que-visitar">Qué visitar</a></li>
        <li><a href="provincias/coruña/que-hacer/acoruna-teatro-principal-santiago.html">Qué hacer</a></li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-coruna-otros" aria-haspopup="true">Otros <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-coruna-otros" class="submenu-2" hidden>
            <li><a href="provincias/coruña/otros/acoruna-chus.html">Servicios médicos</a></li>
            <li><a href="#coruna-turismo">Oficinas de turismo</a></li>
            <li><a href="#coruna-descuentos">Descuentos en español</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <button type="button" aria-expanded="false" aria-controls="submenu-lugo" aria-haspopup="true">
        Lugo
        <span class="dropdown-icon" aria-hidden="true">▼</span>
      </button>
      <ul id="submenu-lugo" class="submenu" hidden>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-lugo-alojamiento" aria-haspopup="true">Alojamiento <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-lugo-alojamiento" class="submenu-2" hidden>
            <li><a href="#lugo-hotel">Hotel</a></li>
            <li><a href="#lugo-pension">Pensión</a></li>
            <li><a href="#lugo-apartamento">Apartamento turístico</a></li>
            <li><a href="#lugo-albergue">Albergue</a></li>
            <li><a href="#lugo-camping">Camping</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-lugo-restaurantes" aria-haspopup="true">Restaurantes y bares <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-lugo-restaurantes" class="submenu-2" hidden>
            <li><a href="#lugo-rest-tradicionales">Restaurantes tradicionales</a></li>
            <li><a href="#lugo-rest-internacionales">Restaurantes internacionales</a></li>
            <li><a href="#lugo-rest-gourmet">Restaurantes gourmet</a></li>
            <li><a href="#lugo-rest-rapida">Restaurantes comida rápida</a></li>
            <li><a href="#lugo-rest-buffet">Restaurantes buffet</a></li>
            <li><a href="#lugo-rest-bares">Bares</a></li>
            <li><a href="#lugo-rest-cafeterias">Cafeterías</a></li>
          </ul>
        </li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-lugo-transporte" aria-haspopup="true">Transporte <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-lugo-transporte" class="submenu-2" hidden>
            <li><a href="#lugo-tren">Trenes</a></li>
            <li><a href="#lugo-avion">Avión</a></li>
            <li><a href="#lugo-taxi">Taxi y Uber</a></li>
            <li><a href="#lugo-alquiler">Alquiler de coches adaptados</a></li>
            <li class="submenu3-item-has-children">
              <button type="button" aria-expanded="false" aria-controls="sub3-lugo-autobus" aria-haspopup="true">Autobús <span class="dropdown-icon-sub" aria-hidden="true">&#9660;</span></button>
              <ul id="sub3-lugo-autobus" class="submenu-3" hidden>
                <li><a href="#lugo-autobus-urbano">Urbano</a></li>
                <li><a href="#lugo-autobus-interurbano">Interurbano</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="provincias/lugo/que-visitar/lugo-museo-provincial.html">Qué visitar</a></li>
        <li><a href="#lugo-que-hacer">Qué hacer</a></li>
        <li class="submenu-item-has-children">
          <button type="button" aria-expanded="false" aria-controls="sub2-lugo-otros" aria-haspopup="true">Otros <span class="dropdown-icon-sub" aria-hidden="true">&#9658;</span></button>
          <ul id="sub2-lugo-otros" class="submenu-2" hidden>
            <li><a href="#lugo-medicos">Servicios médicos</a></li>
            <li><a href="#lugo-turismo">Oficinas de turismo</a></li>
            <li><a href="#lugo-descuentos">Descuentos en español</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
